@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: hsla(0, 0%, 100%, 0.75);
    color: white;
    font-size:15px ;
    font-family: 'Lexend Deca', sans-serif;
    font-weight:400;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;

}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.cars{
    display: flex;
    flex-direction:column;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 780px;
}

.car{
    max-width: 372px;
    padding: 1.5rem;
}
.sedans{
    background-color:hsl(31, 77%, 52%) ;
   
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}
.luxury{
    background-color: hsl(179, 100%, 13%);
}
.button{
    border-radius: 2rem;
    border: 0;
    padding: 0.5rem 1rem;
}
.sedans-btn{
    color: hsl(31, 77%, 52%) ;

}
.suvs-btn{
    color: hsl(184, 100%, 22%);
}
.luxury-btn{
    color:hsl(179, 100%, 13%) ;
}

@media screen and (min-width:720px) {

    body{
        height: 100vh;
        display: grid;
        place-items: center;
        margin: 0;
    }

    .cars{
        flex-direction:row;
        
    
    }
    p{
        line-height: 1.5rem;
        margin-bottom: 3rem;
        font-weight: 200;
        font-size:13px ;

    }
    
}